{% extends 'base.html' %}
{% load static %}

{% block title %}{{ request.session.website_name }} | Create account{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock head %}

{% block body %}
<h3 class="brand">{{ request.session.website_name }}</h3>
<br>
<div class="container d-flex justify-content-center">
	<div class="card" style="width: 30rem;">
		<div class="card-body">
			<h2 class="mb-4">Create account</h2>

			{% include 'alert-message.html' %}

			<form method="post" autocomplete="off" onsubmit="return signupFormValidation()">
			{% csrf_token %}
				<div class="mb-3">
					<label for="username" class="visually-hidden">{{ form.username.label }} :</label>
					{{ form.username }}
				</div>
				<div class="mb-3">
					<label for="email" class="visually-hidden">{{ form.email.label }} :</label>
					{{ form.email }}
				</div>
				<div class="mb-3">
					<label for="password" class="visually-hidden">{{ form.password.label }} :</label>
					{{ form.password }}
				</div>
				<div class="d-grid gap-2">
				  	<button class="btn btn-lg btn-primary" type="submit" id="signupbtn">Signup</button>
				</div>
			</form>

			<div class="row text-center">
	            <p class="acc_text">Already have an account? 
	            	<a href="{% url 'login' %}" class="text-center acc_link">Login</a>
	            </p>
	        </div>
		</div>
	</div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static 'js/validation.js' %}"></script>

<script type="text/javascript">
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
			}
		}
	});

	$(document).ready(function(){
		let delayTimer;
	
		$("#username").keyup(function() {
			clearTimeout(delayTimer); 
			delayTimer = setTimeout(function() {
				const username = $("#username").val();
				$.ajax({
					type: "POST",
					url: "{% url 'is_username_exist' %}",
					dataType: 'json',
					data: {
						username: username,
						'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
					},
					success: function(data) {
						if (data['valid'] === 'False'){
							$(".error").remove();
							$('#username').css("border-color", "red");
							$('#username').after('<div class="error">' + data['message'] + '</div>');
						} else {
							$(".error").remove();
							$('#username').css("border-color", "#c0c0c0");
						}
					},
					error: function(xhr, status, error) {
						console.error('Request failed:', status, error);
					}
				});
			}, 1000);
		});
	});
</script>
{% endblock js %}